.hero {
	position: relative;
	display: inline-block;
	width: 100%;
	@include whitespace-bottom;

	padding-left: $global-padding;
	padding-right: $global-padding;

	.hero-content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.slide-content {
		.post {
			&-meta * {
				@include small-type;
				margin-top: 8px;
				display: inline-block;
			}
			&-meta a {
				@extend .arrow-link;
			}
			&-date {
				letter-spacing: 2px;
			}
			&-content {
			}
		}
	}
	.slider {
		position: static;
		margin: 0;
		background-color: #fff;

		&:not(.slick-slider),
		&:not(.slick-slider) .slide {
			display: inline-block;
			width: 100%;
		}

		.slide {
			position: relative;
			&.bg-cover {
				background-position-y: 30%;
				min-height: 450px;
			}
		}
		// override for a slider with height
		.slick-list {
			display: inline-block;
			@include whitespace-bottom;
		}
	}
}

.slick- {
	&prev,
	&next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 9;
	}
	&prev {
		left: 25px;
	}
	&next {
		right: 25px;
	}
}

.slick-dots {
	position: absolute;
	transform: translateX(-50%);
	bottom: 25px;
	left: 50%;

	margin: 0;
	@extend .menu;
	@extend .simple;

	li {
		list-style: none;

		button {
			font-size: 0;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			border: 2px solid #000;
			background: #000;
		}
		&.slick-active {
			button {
				background: #fff;
			}
		}
	}
}

.home .hero {
	padding-left: 0;
	padding-right: 0;
}
