{% extends "base.twig" %}

{% block content %}
    <div class="hero">
        <div class="placeholder bg-cover"></div>
        <div class="hero-content">
            <h1>Hero Title</h1>
        </div>
    </div>
    <div class="content-wrapper">
      <section class="grid-container">
        <div class="grid-x grid-padding-x small-up-1 medium-up-2">
          <div class="cell">
            {% include 'tease-post.twig' %}
          </div>
          <div class="cell">
            {% include 'tease-post.twig' %}
          </div>
        </div>
      </section>
      <section class="grid-container">
        <div class="grid-x grid-padding-x small-up-1 medium-up-3">
          <div class="cell">
            {% include 'tease-post.twig' %}
          </div>
          <div class="cell">
            {% include 'tease-post.twig' %}
          </div>
          <div class="cell">
            {% include 'tease-post.twig' %}
          </div>
          <div class="cell">
            {% include 'tease-post.twig' %}
          </div>
          <div class="cell">
            {% include 'tease-post.twig' %}
          </div>
          <div class="cell">
            {% include 'tease-post.twig' %}
          </div>
        </div>
      </section>
      <section class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
          <div class="cell">
            <a class="image-block">
              <img src="http://unsplash.it/800/450.jpg" alt="">
              <div class="overlay">
                <h2>Cinematic Shop</h2>
                <p>Shop Now</p>
              </div>
            </a>
          </div>
          <div class="cell">
            <a class="image-block">
              <img src="http://unsplash.it/800/450.jpg" alt="">
              <div class="overlay">
                <h2>Cinematic Radio</h2>
                <p>Listen Now</p>
              </div>
            </a>
          </div>
          <div class="cell">
            <a class="image-block">
              <img src="http://unsplash.it/800/450.jpg" alt="">
              <div class="overlay">
                <h2>Cinematic TV</h2>
                <p>Watch Now</p>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
    <!-- /content-wrapper -->
{% endblock %}
