{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="row column post-header">
			<h1 class="h4 text-center">{{post.title}}</h1>
			<div class="grid-container">
				<div class="albumlist-wrapper"></div>
			</div>
		</div>
		<div class="grid-container post-body">
			<div class="grid-x grid-padding-x">
				<div class="small-12 medium-6 cell">
					<img class="album-art" src="{{post.thumbnail.src("large")}}" alt="">
				</div>
				<div class="small-12 medium-6 cell">
					<section class="article-content">
						<div class="post-date">Released: {{post.date|date('n.j.Y')}}</div>
						<div class="article-body">{{post.content}}</div>
					</section>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
