.page-title.article-h1 {
	@include bold-title;
	text-align: center;
	padding: 50px 0;
	margin: 0;
}

.article-body.abs-centered {
	position: relative;
	.article-body-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

.article-body-wrapper {
	padding-left: $global-padding;
	padding-right: $global-padding;
}

// Roster Page
.post-type-archive-portfolio {
	.base-title {
		padding: 50px 0 25px 0;
		margin: 0;
	}
	.roster-logos {
		margin-bottom: 50px;
	}
	.post-type-portfolio {
		header > span,
		footer,
		.post-content {
			display: none;
		}
		.post-title {
			text-align: center;
		}
	}
	article.article-item.post-type-portfolio {
		header {
			padding: 0;
			height: 25px;
		}
	}
}

// releases page
.page-template-timber-releases-page-custom {
}

// about page
.page-title-About {
	.article-body-wrapper {
		h1,
		h2,
		h3,
		h4 {
			font-family: 'HelveticaNeue', sans-serif;
			font-weight: bold;
			text-transform: none;
			line-height: 1.2;
		}
	}
	.contact {
		h1,
		h2,
		h3,
		h4 {
			font-size: 16px;
			font-family: 'HelveticaNeue', sans-serif;
			font-weight: bold;
			text-transform: none;
			line-height: 1.2;
		}
		a {
			display: inline-block;
			margin-bottom: 40px;
			letter-spacing: 0;
			@include breakpoint(small only) {
				margin-bottom: 0px;
			}
		}

		@include breakpoint(small only) {
			border-top: 2px solid #000;
			padding-top: 20px;

		}
	}
	@include breakpoint(large) {
		.grid-x.separator .cell {
			padding-right: 80px;
		}

		.grid-x.separator .cell + .cell {
			padding-right: 0px;
			padding-left: 80px;
			border-left: 2px solid #e0e0e0;
		}
	}
}
