<div class="grid-container">
  <hr class="black">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="medium-5 cell small-align-center">
      {% include 'subscribe-modal.twig' %}
    </div>
    <div id="socialLinks" class="cell auto">
      <ul class="menu simple social">
        {% include 'social-links.twig' %}
      </ul>
    </div>
  </div>
  <div class="grid-x grid-padding-x grid-padding-y sub-footer small-align-center">
    <div class="small-12 cell medium-shrink">
      <span>© {{"now"|date('Y')}} Cinematic Music Group</span>
    </div>
    <div class="small-12 cell medium-shrink">
      <span>All Rights Reserved</span>
    </div>
    <div class="small-12 cell medium-shrink">
      <a href="#">PRIVACY POLICY / TERMS &amp; CONDITIONS</a>
    </div>
    <div class="auto cell text-right small-align-center">
      <a href="http://www.never-not.com">Site By: <img class="footer-logo" src="{{theme.path}}/static/img/nn-logo.png" alt=""></a>
    </div>
  </div>
</div>

<div class="reveal" id="subscribeModal" data-reveal>
  <h1>Sign up for our monthly newsletter</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
