	<div class="hero">
		<div class="slider">
		{% for post in posts %}
			<div class="slide bg" style="background-image:url('{{ post.thumbnail.src }}')">
					<div class="hero-content">
							<h1>{{ post.title }}</h1>
					</div>
			</div>
			{% endfor %}
		</div>
	</div>
