<li>
  <a target="_blank" class="def-link" title="Cinematic on Spotify"  href="https://open.spotify.com/"><i class="fa fa-spotify"></i> Spotify
  </a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Soundcloud"  href="https://soundcloud.com/"><i class="fa fa-soundcloud"></i> Soundcloud
  </a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Youtube"  href="https://open.spotify.com/"><i class="fa fa-spotify"></i> Youtube
  </a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Tumblr"  href="https://www.tumblr.com/"><i class="fa fa-tumblr"></i> Tumblr
  </a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Instagram"  href="https://www.instagram.com/"><i class="fa fa-instagram"></i>Instagram
  </a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i> Facebook
  </a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Twitter"  href="https://twitter.com/"><i class="fa fa-twitter"></i> Twitter
  </a>
</li>
