<li>
  <a target="_blank" class="def-link" title="Cinematic on Spotify"  href="https://open.spotify.com/">Spotify</a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Soundcloud"  href="https://soundcloud.com/">Soundcloud</a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Youtube"  href="https://open.spotify.com/">Youtube</a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Tumblr"  href="https://www.tumblr.com/">Tumblr</a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Instagram"  href="https://www.instagram.com/">Instagram</a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Facebook" href="https://www.facebook.com/">Facebook</a>
</li>
<li>
  <a target="_blank" class="def-link" title="Cinematic on Twitter"  href="https://twitter.com/">Twitter</a>
</li>
