<article>
  <img src="http://unsplash.it/800/450.jpg" alt="">
  <header>
    Featured | 6.15.2017
  </header>
  <h2>PUBLIC ACCESS TV RELEASES “END OF AN ERA” VIDEO</h2>
  <footer>
    <a href="#">Read More</a>
  </footer>
</article>
