iframe {
	border: none;
}

.rif {
	position: relative;
	height: 0;
	padding-bottom: 50%;
	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
	}
}

.align-center {
	align-items: center;
	justify-content: center;
}

hr.black {
	border-top: 2px solid black;
}

.single-line-height {
	line-height: 0.6;
}

.post-header {
	visibility: visible !important;
	opacity: 1 !important;
}
