// backgrounds
.bg {
	background: url() center center no-repeat;
	min-height: 450px;
	&-cover {
		@extend .bg;
		background-size: cover;
	}
	&-contain {
		@extend .bg;
		background-size: contain;
	}
}

// icons

.fa.fa-volume-up:before {
	content: '';
}

.fa.fa-volume-up {
	width: 25px;
	height: 25px;
	background: url(../static/img/volume-on.svg) no-repeat center center;
}

.fa.fa-volume-off:before {
	content: '';
}

.fa.fa-volume-off {
	width: 25px;
	height: 25px;
	background: url(../static/img/volume-off.svg) no-repeat center center;
}
i.fa.fa-bars:before {
	content: '';
	width: 25px;
	height: 25px;
	background: url(../static/img/hamburguesa_bttn.svg) no-repeat no-repeat;
	background-size: 25px;
	display: inline-block;
}
i.fa.fa-times:before {
	content: '';
	width: 25px;
	height: 25px;
	background: url(../static/img/close_bttn.svg) no-repeat no-repeat;
	background-size: 25px;
	display: inline-block;
}
